<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap/css/bootstrap-theme.min.css">
</head>

<body>
    <div class="container-fluid" id="app">
        <div class="container" v-cloak>
            <div>
                {{ myData }}
            </div>
            <h1>{{ $t("message.hello") }}</h1>
            <input type="button" class="btn btn-primary" value="英文" @click="change('en')">
            <input type="button" class="btn btn-success" value="日文" @click="change('ja')">
            <input type="button" class="btn btn-info" value="中文" @click="change('zh-TW')">
        </div>
    </div>
</body>
<%= htmlWebpackPlugin.options.dev?'<script src="/webpack-dev-server.js"></script>':'' %>

</html>
